THỰC HÀNH TRỰC QUAN HÓA DỮ LIỆU NÂNG CAO

Trong thực tế, các chiều dữ liệu có thể được trực quan hóa từng đối một với nhau. Trong Python, những hình vẽ dạng này được gọi là paired plots. 

Hãy sử dụng tài liệu tham khảo dưới đây để áp dụng vẽ paired plots cho tập dữ liệu microbiome.csv và baseball.csv

Lưu ý có giải thích code trong phần markdown tương ứng

Link: https://seaborn.pydata.org/generated/seaborn.pairplot.html

In [4]:
#Code
import seaborn as sns
import pandas as pd
df = pd.read_csv('baseball.csv.csv')
f = pd.read_csv('microbiome.csv')
f.head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946
4  Firmicutes        5     831   8605

In [ ]:
sns.pairplot(f,hue = 'hist')

In [6]:
df.head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
sns.pairplot(df,hue = 'player')