THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [39]:
#Code
import pandas as pd
df = pd.read_csv('baseball.csv.csv')
df.head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [40]:
#Code
import numpy as np
lamb = lambda x: (x+np.log10(x))/np.sqrt(x)
lamb(2)

1.627073913647653

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [55]:
#Code
df2 = df[['id', 'stint']]
df2.apply(lambda x:(x+np.log10(x))/np.sqrt(x), axis = 0)

            id     stint
0   297.743003  1.627074
1   297.746361  1.000000
2   297.749720  1.000000
3   297.756437  1.000000
4   297.758116  1.000000
..         ...       ...
95  299.223836  1.627074
96  299.225507  1.000000
97  299.232191  1.000000
98  299.237204  1.000000
99  299.238875  1.000000

[100 rows x 2 columns]

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [53]:
#Code
df2 = df[['id']]
df2.apply(lambda x:(x+np.log10(x))/np.sqrt(x), axis = 0)

            id
0   297.743003
1   297.746361
2   297.749720
3   297.756437
4   297.758116
..         ...
95  299.223836
96  299.225507
97  299.232191
98  299.237204
99  299.238875

[100 rows x 1 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [86]:
#Code
s= df2.apply(lambda x:np.sum(x), axis = 0)
m = df2.apply(lambda x: np.mean(x), axis = 0)
sq = df2.apply(lambda x: np.sqrt(x), axis = 0)
l = df2.apply(lambda x: np.log(x), axis = 0)
print(s)
print(m)
print(sq)
print(l)

id       8935266
stint        113
dtype: int64
id       89352.66
stint        1.13
dtype: float64
            id     stint
0   297.726384  1.414214
1   297.729743  1.000000
2   297.733102  1.000000
3   297.739819  1.000000
4   297.741499  1.000000
..         ...       ...
95  299.207286  1.414214
96  299.208957  1.000000
97  299.215641  1.000000
98  299.220654  1.000000
99  299.222325  1.000000

[100 rows x 2 columns]
           id     stint
0   11.392350  0.693147
1   11.392372  0.000000
2   11.392395  0.000000
3   11.392440  0.000000
4   11.392451  0.000000
..        ...       ...
95  11.402273  0.693147
96  11.402284  0.000000
97  11.402329  0.000000
98  11.402363  0.000000
99  11.402374  0.000000

[100 rows x 2 columns]

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [98]:
#Code
def my_function(x):
    if x > 0:
        return np.log10(x)
    else:
        return np.exp(x)
x = int(input('nhap x:'))
my_function(x)

nhap x:0

1.0

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [105]:
#Code
df['r'] = df2.apply(lambda x : my_function(x['r']), axis = 1)
df['r'].head()

0   -0.108936
1    0.000000
2    0.000000
3    0.000000
4    0.000000
Name: r, dtype: float64